<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laputa.mybatis.mapper.DepartmentMapper">

    <!-- Department getDepById(Integer id); -->
    <select id="getDepById" resultType="org.laputa.mybatis.entity.Department">
		SELECT * FROM department WHERE id = #{id}
	</select>

    <!-- Department getDepByIdWithEmps1(Integer id); -->
    <resultMap id="depCascadeEmps1" type="org.laputa.mybatis.entity.Department">
        <!-- 设置主键映射 -->
        <id column="id" property="id"/>
        <!-- 普通字段映射 -->
        <result column="name" property="name"/>
        <result column="intro" property="intro"/>
        <!-- 级联查询员工 -->
        <collection property="emps" ofType="org.laputa.mybatis.entity.Employee">
            <!-- 设置主键映射 -->
            <id column="id" property="id"/>
            <!-- 普通字段映射 -->
            <result column="name" property="name"/>
            <result column="email" property="email"/>
            <result column="gender" property="gender"/>
        </collection>
    </resultMap>
    <select id="getDepByIdWithEmps1" resultMap="depCascadeEmps1">
        SELECT *
        FROM employee e, department d
        WHERE d.id = #{id}
        AND e.dep_id = d.id
    </select>

    <!-- Department getDepByIdWithEmps2(Integer id); -->
    <resultMap id="depCascadeEmps2" type="org.laputa.mybatis.entity.Department">
        <!-- 设置主键映射 -->
        <id column="id" property="id"/>
        <!-- 普通字段映射 -->
        <result column="name" property="name"/>
        <result column="intro" property="intro"/>
        <!-- 级联查询员工 -->
        <collection property="emps"
                    select="org.laputa.mybatis.mapper.EmployeeMapper.getEmpByDepId"
                    column="id">
        </collection>
    </resultMap>
    <select id="getDepByIdWithEmps2" resultMap="depCascadeEmps2">
	    SELECT * FROM department WHERE id = #{id}
    </select>

</mapper>
